.ui-radiobutton-icon {
    margin-left: 0px !important;
    margin-top: -1px !important;
}

.ui-inputswitch-on {
	background: green !important ;
    color:#FFF !important;
}


.ui-inputswitch-off{
    background: yellow !important ;
    color:#000;	
	
}

.ui-layout-north{
    z-index:auto !important;
    overflow:visible !important;  
}
.ui-tabs .ui-tabs-panel {
	padding: 0.1em;
	margin: 2em 0px;
	width: 100%;
	height: 100%;
}
.ui-layout-north .ui-layout-unit-content {
    overflow:visible !important;
}
/*
.ui-widget{font-size:100% !important;}
*/
.norte .ui-layout-unit-header{

}

.ui-layout-unit-content{
	/*background-image:url('news2.jpg');*/
	background: #DFE4E6 !important;
}

.ui-layout-west {
	/*background-image:url('news2.jpg');*/
    padding: 0.2em 0em;
    border: 0px none;
    overflow: hidden !important;
}

.west .ui-layout-unit-content{
   background: #1f3063 !important; /* old #3e5795 */
}

.center .ui-layout-unit-content{
   /*background-image:url('news2.jpg');
   background-size: 100% 100%;*/
}

.norte .ui-layout-unit-content{
 /*  background: #38C !important;
   height: 10%; */
}

.ui-widget,.ui-widget .ui-widget {
	font-size: 95% !important;
}
.ui-panelmenu .ui-menuitem-link {
	font-size: 85% !important;
}
.ui-datatable {
    display: table;
    font-size: xx-small;
}

.ui-datatable table {
    table-width: auto !important;
}

.holer .ui-panelgrid tr, .ui-panelgrid td {
	border: none !important; 	
	font: 100% verdana;
	
}
.headerEmpresa{
	border: none !important;
	text-align: left;
}
.headerDireita{
	text-align: right;
}
.ui-panelgrid tr, .ui-panelgrid td {
	vertical-align: top;
	border: none !important;
}

.ui-radiobutton{
	padding: 15px !important;
}	

.recibo {
	height: 35px !important;
}
